#diagRoot {
    margin: auto;
    background: #09212a;
    border-radius: 40px;
    color: white;
    width: 688px;

    div {
        padding: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        .diagTopBar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 32px;

            #diagImagePath {
                font-size: 29px;
                font-weight: 700;
            }

            button {
                width: 32px;
                height: 32px;
                border-radius: 50%;

                img {
                    top: 3px;
                    height: 24px;
                    width: 24px;
                    margin: 0;
                }
            }
            button:hover {
                background-color: #124658;
            }
            button:active {
                background-color: #0d3240;
            }
        }

        section {
            padding: 0px;
            img {
                width: auto;
                max-width: 100%;
                height: 500px;
                object-fit: cover;
                margin-bottom: 32px;
            }
        }

        .diagBottomBar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            max-width: 300px;
            width: 100%;
            height: auto;

            #diagImageCounter {
                font-size: 16px;
                font-weight: 500;
            }

            button {
                width: 60px;
                height: 60px;
                background: rgba(253, 88, 78, 0.1);
                border-radius: 50%;

                img {
                    top: 3px;
                    width: 25px;
                    height: 25px;
                    margin: 0;
                    background-color: rgba(255, 255, 255, 0);
                }
            }

            button:hover {
                background: rgba(253, 88, 78, 0.2);
            }

            #diagButtonLeft {
                transform: scaleX(-1);
            }
        }
    }
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/* mobile */
@media (max-width: 767px) {
    #diagRoot {
        width: 332px;

        div {
            padding: 24px 16px;
            .diagTopBar {
                display: flex;
                flex-direction: column-reverse;
                padding: 0 8px;
                margin-bottom: 40px;

                #diagImagePath {
                    align-self: self-start;
                    font-size: 24px;
                }
                button {
                    align-self: self-end;
                }
            }

            section img {
                max-height: 400px;
                object-fit: contain;
            }

            .diagBottomBar {
                max-width: 270px;
            }
        }
    }
}
