body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background: #06171e;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #09212a;

    div {
        display: flex;
        height: 80px;
        padding: 20px 123px;

        img {
            height: 40;
            width: auto;
        }
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    section {
        padding: 0 123px;
        h1 {
            margin-top: 64px;
            margin-bottom: 80px;
        }

        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 24px;

            margin-bottom: 64px;

            img {
                height: 150px;
                width: 150px;
                margin-bottom: 24px;

                object-fit: cover;
                border-radius: 16px;
                border-width: 2px;
                border-color: #124658;
                border-style: solid;
            }
            img:hover {
                border-color: #6bc1e1;
            }
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #09212a;
    height: 128px;
    border-radius: 25% 25% 0 0;

    div {
        display: flex;
        align-items: center;
        flex-direction: column;

        color: #627b84;
        font-size: 13px;
        font-weight: 400;
        text-align: center;

        img {
            height: 32px;
            width: auto;
            margin-bottom: 16px;
        }
    }
}

/* tablet */
@media (max-width: 1280px) {
    header {
        div {
            padding: 20px 64px;
        }
    }

    main {
        section {
            padding: 0 64px;
        }
    }
}

/* mobile */
@media (max-width: 767px) {
    header {
        div {
            justify-content: center;
            height: 80px;
            padding: 20px 24px;

            img {
                height: 40;
                width: auto;
            }
        }
    }

    main {
        section {
            padding: 0 16px;

            div {
                gap: 16px;

                img {
                    margin-bottom: 0px;
                }
            }
        }
    }
}
