* {
    position: relative;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: inherit;
    font-size: inherit;
    background: inherit;
    border: inherit;
    font-family: "Figtree";
}

.content {
    height: fit-content;
    width: 100%;
    max-width: 1440px;
}

@font-face {
    font-family: "Figtree";
    src: url("./fonts/Figtree-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

h1 {
    font-family: "Figtree";
    font-size: 56px;
    font-weight: 800;
    text-align: center;
    color: white;
}

/* tablet */
@media (max-width: 1280px) {
h1 {
        font-size: 50px;
    }
}

/* mobile */
@media (max-width: 767px) {
    h1 {
        font-size: 48px;
    }
}
